<main>
  <div class="container middle">
    <div class="container">
      <h2 class="text-center">Add a Burger</h2>
      <form id="addburger" class="justify-content-center">
        
        {{!-- <div class="input-group">
          <span class="input-group-addon">
                <i class="fa fa-plus"></i>
            </span>
            <input type="text" id="burger" name="burger" class="d-block mx-auto">
            
        </div> --}}
        
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa fa-cutlery"></i></span>
  </div>
  <input type="text" class="form-control" id="burger" name="burger" aria-label="Username" aria-describedby="basic-addon1">
</div>

        <button type="submit" class="btn btn-large btn-fire d-block mx-auto">Add Burger</button>
      </form>
    </div>
    <div class="container mt-5 card">
      <div class="row">
        <div class="col-6">
          <h2 class="text-center">Temptation</h2>

          <ul>
            {{#each burgers}} {{#unless devoured}}
            <li>
              {{math @index "+" 1}}. {{burger_name}}

              <button data-burgerid="{{this.id}}" class="change-burger btn btn-large btn-fire">Give in</button>
            </li>
            {{/unless}} {{/each}}
          </ul>
        </div>
        <div class="col-6">
          <h2 class="text-center">Gluttony</h2>

          <ul>
            {{#each burgers}} {{#if devoured}}
            <li>
              {{math @index "+" 1}}. {{burger_name}}

              <button data-burgerid="{{this.id}}" class="delete-burger btn btn-large btn-purge">Purge</button>
            </li>
            {{/if}} {{/each}}
          </ul>
        </div>
      </div>
    </div>


  </div>
</main>